{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    <h1>{{name}}</h1>
    {{#each users}}

    <ul>
        <li>Id: {{id}}</li>
        <h3>Name: {{name}}</h3>
        <li> {{gender}}</li>
        <li> Age: {{age}}</li>

        <br>

        <h3>Friends:</h3>
        <ul>
            {{#each friends}}
            <li>Id: {{id}}</li>
            <li>Name: {{name}}</li>
            <li>Gender: {{gender}}</li>
            <li>Age: {{age}}</li>

            <br>

            <h5>Mutual_friends:</h5>
            {{#each mutual_friends}}
            <ul>
                <li>Id: {{id}}</li>
                <li>Name: {{name}}</li>
                <li>Gender: {{gender}}</li>
                <li>Age: {{age}}</li>
                <br>
            </ul>

            {{#if mutual_friends}}
            <ul>
                <h5>Mutual_friends:</h5>
                {{#each mutual_friends}}
                <ul>
                    <li>Id: {{id}}</li>
                    <li>Name: {{name}}</li>
                    <li>Gender: {{gender}}</li>
                    <li>Age: {{age}}</li>
                </ul>
                {{/each}}
            </ul>
            {{/if}}
            {{/each}}

            <br>

            <h3>Groups:</h3>
            {{#each groups}}
            <ul>
                <li>Id: {{id}}</li>
                Name: {{name}}
                <p>"{{description}}" </p>

                <h5>Members:</h5>
                {{#each members}}
                <ul>
                    <li>Id: {{id}}</li>
                    <li>Name: {{name}}</li>
                    <li>Gender: {{gender}}</li>
                    <li>Age: {{age}}</li>
                    <br>
                </ul>
                {{/each}}
            </ul>
            {{/each}}

            {{/each}}

        </ul>

        {{#if groups}}
        {{#each groups}}
        <ul>
            <li>Id: {{id}}</li>
            Name: {{name}}
            <p>"{{description}}" </p>

            <h5>Members:</h5>
            {{#each members}}
            <ul>
                <li>Id: {{id}}</li>
                <li>Name: {{name}}</li>
                <li>Gender: {{gender}}</li>
                <li>Age: {{age}}</li>
                <br>
            </ul>
            {{/each}}
        </ul>
        {{/each}}
        {{/if}}

    </ul>

    <hr>

    {{/each}}
</div>



{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}