{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    <h1>{{name}} </h1>
    <q>{{description}} </q>
    <div>
        {{#with history}}
        {{> title data='History'}}
        {{year}} {{founder}}
        {{/with}}
    </div>


    {{> title data='Types:' big=true}}
    {{#each types}}
    <li> {{''}} </li>
    {{/each}}

    {{#with Syntax}}
    {{> title data='Syntax'}}
    <ul>
        <li> variables: [{{variables }}] </li>
        <li> functions: [{{functions }}] </li>
        <li> conditionals: [{{conditionals }} ] </li>
        <li> loops: [{{loops }}]</li>
        <li> classes: [{{ classes }}]</li>
    </ul>
    {{/with}}

    {{> title data='Features'}}
    {{#each features}}
    <ul><q> {{''}} </q></ul>
    {{/each}}

    {{> title data='Libraries'}}
    {{#each libraries}}
    <ul><q> {{''}} </q></ul>
    {{/each}}

    {{> title data='Tools'}}
    {{#each tools}}
    <ul>
        <h4><span class="badge bg-secondary">{{''}}</span></h4>
    </ul>
    {{/each}}

    {{> title data='Community' }}
    {{#each community }}

    <li><button type="button" class="btn btn-warning">{{name}}</button> - <em>({{type}})</em></li>
    {{/each}}


</div>



{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}