<main>
    <div class="card">
        <div class="card-body">

            {{#with heading}}
            <a href="#" class="btn btn-outline-light btn-link "> <span
                    class="display-1 text-warning text-outline-secondary">Heading</span> </a>

            <br>
            <br>

            {{#with main}}
            <div class="card">
                <div class="card-body text-muted ">
                    <div class="text display-1"> Main</div>
                    <span class="text-warning text-outline-secondary">{{title}}</span>
                    <p>{{text}}</p>
                    {{#with button_text}}
                    <p><button class="btn btn-info btn-lg">{{solid}}</button></p>
                    <button class="btn btn-outline-info btn-lg">{{outline}}</button>
                    {{/with}}
                    {{/with}}
                </div>
            </div>

            <br>
            <br>

            {{#with second }}
            <div class="card">
                <div class="card-body text-muted ">
                    <div class="text display-2 ">Second</div>
                    <span class="text-warning text-outline-secondary">{{title}}</span>
                    <p>{{text}}</p>
                    {{#with button_text}}
                    <p><button class="btn btn-secondary ">{{solid}}</button></p>
                    <button class="btn btn-outline-secondary ">{{outline}}</button>
                    {{/with}}
                    {{/with}}
                </div>
            </div>

            <br>
            <br>

            {{#with subblock}}
            <div class="card">
                <div class="card-body text-muted ">
                    <div class="text display-3 ">Subblock</div>
                    <span class="text-warning text-outline-secondary">{{title}}</span>
                    <p>{{text}}</p>
                    {{#with button_text}}
                    <p><button class="btn btn-dark btn-sm">{{solid}}</button></p>
                    <button class="btn btn-outline-dark btn-sm">{{outline}}</button>
                    {{/with}}
                    {{/with}}
                </div>
            </div>

            {{/with}}
        </div>
    </div>

    <br>
    <br>

    <div class="card">
        <div class="card-body">
            {{#with nested_display}}
            <span class="display-1 text-dark">Nested_display
                <div>{{title}}</div>
            </span>

            {{#with children_display}}
            <div class="card">
                <div class="card-body  ">
                    <div class="text display-4"> Children_display</div>
                    <span class=" text-outline-secondary">{{title}}</span>
                    <p>{{text}}</p>
                    {{#with button}}
                    <button class="btn btn-outline-warning">{{text}}</button>
                    {{/with}}
                    {{/with}}
                </div>
            </div>

            <br>

            <div>
                <h6>{{header_text}}</h6>
            </div>
            {{#with button}}
            <button class="btn btn-info btn-sm">{{text}}</button>
            {{/with}}
        </div>
    </div>
    {{/with}}

    <br>

    <div class="card">
        <div class="card-body ">
            {{#with paragraph}}
            <p class="text-uppercase"> {{title}} </p>
            <p class="text-lowercase">{{text}} </p>

            {{#with button}}
            <p href="#" class="btn btn-link">{{text}} </p>
            {{/with}}

            <br>

            <div class="card">
                <div class="card-body  ">
                    <ul>
                        {{#each list_name}}
                        <li>
                            <a href="url" class="btn btn-link">{{text}} </a>
                        </li>
                        {{/each}}
                    </ul>

                </div>
            </div>
            {{/with}}
        </div>
    </div>
    </div>
    </div>

</main>